body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}

.legend {
    font-size: 12px;
}

.legend line {
  stroke: #000;
  shape-rendering: crispEdges;
}

/*#c4sa_pr_kzn:hover,*/
/*#c4sa_pr_fs:hover,*/
/*#c4sa_pr_gp:hover,*/
/*#c4sa_pr_ec:hover,*/
/*#c4sa_pr_mp:hover,*/
/*#c4sa_pr_lim:hover,*/
/*#c4sa_pr_nc:hover,*/
/*#c4sa_pr_nw:hover,*/
/*#c4sa_pr_wc:hover {*/
	/*stroke: blue;*/
	/*stroke-width:5;*/
	/*fill:green!important;*/
	/*opacity:0.5;*/
/*}*/

svg {
  padding: 10px 0 0 10px;
}

.arc {
  stroke: #fff;
}

#country_svg svg {
    width: 100%;
    height: 100%;
}

svg path.province {
    /*#73ba34ff - tap*/
    fill:#a6cee3;
    cursor:pointer;
    /*shape-rendering: crispEdges;*/
}

svg path.province:hover {
    stroke: #333;
	stroke-width:4;
	fill:#b1de89;
	/*opacity:0.5;*/
}
