/* Unoslider container */
.unoslider {
  list-style: none;
  position: relative;
  width: 960px;
  height: 350px;
  margin: 0 auto;
  padding: 0 !important;
}

.unoslider img{
  max-width: 100%;
  padding: 0 !important;
  margin: 0 !important;
}

.unoslider li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0 !important;
  margin: 0 !important;
}

/* Timebar */
.unoslider_timer {
  background-color: white;
  width: 0%;
  height: 3px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.5;
  -moz-box-shadow: 0px 2px 2px black;
  -webkit-box-shadow: 0px 2px 2px black;
  -o-box-shadow: 0px 2px 2px black;
  box-shadow: 0px 2px 2px black;
}

/* Progress bar preloader container */
.unoslider_preloader {
  background: rgba(255, 255, 255, 0.5);
}

/* progress bar preloader */
.unoslider_preloader .unoslider_progress {
  width: 30%;
  height: 5px;
  margin: 0 auto;
  border-top: 1px solid #7c7c7c;
  border-bottom: 1px solid #f1f1f1;
  border-left: 1px solid #949494;
  border-right: 1px solid #949494;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a9a9a), color-stop(100%, #b3b3b3));
  background: -webkit-linear-gradient(#9a9a9a, #b3b3b3);
  background: -moz-linear-gradient(#9a9a9a, #b3b3b3);
  background: -o-linear-gradient(#9a9a9a, #b3b3b3);
  background: -ms-linear-gradient(#9a9a9a, #b3b3b3);
  background: linear-gradient(#9a9a9a, #b3b3b3);
}

/* progress bar fill */
.unoslider_preloader .unoslider_progress span {
  display: block;
  height: 100%;
  background: #66cccc;
}

/* Spinner preloader */
.unoslider_spinner {
  background: url('/images/spinner.gif') white center center no-repeat;
}

.unoslider_layers{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/**********************************
 Custom animated layers styles
 All styles MUST start with "unoslider_style_"
 *********************************/

/* New layer style */
.unoslider_style_new{
  border: 1px solid orange;
  color: orange;
  padding: 10px;
  font-size: 15px;
  font-family: Helvetica, Verdana;
  text-align: center;
  line-height: 1em;
}

.unoslider_style_big_dark_title{
  color: #333;
  font-weight: bold;
  font-size: 25px;
  font-family: Helvetica, Verdana;
  line-height: 1em;
}

.unoslider_style_big_light_title{
  color: #fff;
  font-weight: bold;
  font-size: 25px;
  font-family: Helvetica, Verdana;
  line-height: 1em;
}

/* Transparent style */
.unoslider_style_transparent{
  font-family: Helvetica, Verdana;
  font-size: 12px;
  line-height: 1em;
}

/* Dark style */
.unoslider_style_dark{
  background: #333;
  color: #fff;
  padding: 10px;
  line-height: 1em;
  font-size: 12px;
  font-family: Helvetica, Verdana;
}

/* Light style */
.unoslider_style_light{
  background: #fff;
  color: #333;
  padding: 10px;
  line-height: 1em;
  font-size: 12px;
  font-family: Helvetica, Verdana;
}

/* Rounded Light style */
.unoslider_style_circle_light{
  background: #fff;
  color: #333;
  padding: 10px;
  line-height: 1em;
  font-size: 12px;
  font-family: Helvetica, Verdana;
  border-radius: 360px;
  text-align: center;
}

/* Rounded Dark style */
.unoslider_style_circle_dark{
  background: #333;
  color: #fff;
  padding: 10px;
  line-height: 1em;
  font-size: 12px;
  font-family: Helvetica, Verdana;
  border-radius: 360px;
  text-align: center;
}

/* Slick style */
.unoslider_style_slick{
  text-align: center;
  font-family: Helvetica, Verdana;
  font-size: 12px;
  line-height: 1em;
  color: #6a6a6a;
  padding: 5px;
  border: 1px solid #fefefe;
  background: #e5e5e5;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #dbdbdb));
  background: -webkit-linear-gradient(#e5e5e5, #dbdbdb);
  background: -moz-linear-gradient(#e5e5e5, #dbdbdb);
  background: -o-linear-gradient(#e5e5e5, #dbdbdb);
  background: -ms-linear-gradient(#e5e5e5, #dbdbdb);
  background: linear-gradient(#e5e5e5, #dbdbdb);
  -moz-box-shadow: 0px 0px 2px black;
  -webkit-box-shadow: 0px 0px 2px black;
  -o-box-shadow: 0px 0px 2px black;
  box-shadow: 0px 0px 2px black;
  text-shadow: white 0px -1px 0px;
}

/* Modern style */
.unoslider_style_modern{
  text-align: center;
  font-family: Helvetica, Verdana;
  font-size: 12px;
  line-height: 1em;
  color: #d2d2d2;
  padding: 5px;
  border: 1px solid #141414;
  background: #3f3f3f;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3f3f3f), color-stop(100%, #333));
  background: -webkit-linear-gradient(#3f3f3f, #333);
  background: -moz-linear-gradient(#3f3f3f, #333);
  background: -o-linear-gradient(#3f3f3f, #333);
  background: -ms-linear-gradient(#3f3f3f, #333);
  background: linear-gradient(#3f3f3f, #333);
  text-shadow: black 1px 1px 0px;
  border-radius: 3px;
}

/* Important style */
.unoslider_style_important{
  text-align: center;
  font-family: Helvetica, Verdana;
  font-size: 12px;
  line-height: 1em;
  color: #ededed;
  padding: 5px;
  border: 1px solid #880000;
  background: #940000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #940000), color-stop(100%, #710000));
  background: -webkit-linear-gradient(#940000, #710000);
  background: -moz-linear-gradient(#940000, #710000);
  background: -o-linear-gradient(#940000, #710000);
  background: -ms-linear-gradient(#940000, #710000);
  background: linear-gradient(#940000, #710000);
}

/* Call To Action style */
.unoslider_style_call_to_action{
  text-align: center;
  font-family: Helvetica, Verdana;
  font-size: 12px;
  line-height: 1em;
  font-weight: bold;
  color: #ededed;
  padding: 5px;
  border: 1px solid #004f02;
  background: #008603;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #008603), color-stop(100%, #007403));
  background: -webkit-linear-gradient(#008603, #007403);
  background: -moz-linear-gradient(#008603, #007403);
  background: -o-linear-gradient(#008603, #007403);
  background: -ms-linear-gradient(#008603, #007403);
  background: linear-gradient(#008603, #007403);
}
/**********************************************************************************************************/
/* Here you can add a custom CSS styles for your html slides, custom captions or other unoslider areas    */
/**********************************************************************************************************/

/* Example of the full width/height html slide background */
.slide_bg_example{
  background-color: #2e425a;
  color: #bccbdc;
  height: 100%;
  width: 100%;
}
/**********************************
 Custom animated layers styles
 All styles MUST start with "unoslider_style_"
 *********************************/

/* Example of the "My Own" layer style */
.unoslider_style_my_own{
  border: 1px solid black;
  color: orange;
  background: gray;
  padding: 10px;
  font-size: 15px;
  font-family: Helvetica, Verdana;
  text-align: center;
  line-height: 1em;
}
