.code4sa-embed {
// Core variables and mixins
@import "../libraries/bootstrap-3.1.1/less/variables.less";
@import "../libraries/bootstrap-3.1.1/less/mixins.less";

@icon-font-path:          "../libraries/bootstrap-3.1.1/fonts/";

// Reset
@import "../libraries/bootstrap-3.1.1/less/normalize.less";
@import "../libraries/bootstrap-3.1.1/less/print.less";

// Core CSS
@import "../libraries/bootstrap-3.1.1/less/scaffolding.less";
@import "../libraries/bootstrap-3.1.1/less/type.less";
@import "../libraries/bootstrap-3.1.1/less/code.less";
@import "../libraries/bootstrap-3.1.1/less/grid.less";
@import "../libraries/bootstrap-3.1.1/less/tables.less";
@import "../libraries/bootstrap-3.1.1/less/forms.less";
@import "../libraries/bootstrap-3.1.1/less/buttons.less";

// Components
@import "../libraries/bootstrap-3.1.1/less/component-animations.less";
@import "../libraries/bootstrap-3.1.1/less/glyphicons.less";
@import "../libraries/bootstrap-3.1.1/less/dropdowns.less";
@import "../libraries/bootstrap-3.1.1/less/button-groups.less";
@import "../libraries/bootstrap-3.1.1/less/input-groups.less";
@import "../libraries/bootstrap-3.1.1/less/navs.less";
@import "../libraries/bootstrap-3.1.1/less/navbar.less";
@import "../libraries/bootstrap-3.1.1/less/breadcrumbs.less";
@import "../libraries/bootstrap-3.1.1/less/pagination.less";
@import "../libraries/bootstrap-3.1.1/less/pager.less";
@import "../libraries/bootstrap-3.1.1/less/labels.less";
@import "../libraries/bootstrap-3.1.1/less/badges.less";
@import "../libraries/bootstrap-3.1.1/less/jumbotron.less";
@import "../libraries/bootstrap-3.1.1/less/thumbnails.less";
@import "../libraries/bootstrap-3.1.1/less/alerts.less";
@import "../libraries/bootstrap-3.1.1/less/progress-bars.less";
@import "../libraries/bootstrap-3.1.1/less/media.less";
@import "../libraries/bootstrap-3.1.1/less/list-group.less";
@import "../libraries/bootstrap-3.1.1/less/panels.less";
@import "../libraries/bootstrap-3.1.1/less/wells.less";
@import "../libraries/bootstrap-3.1.1/less/close.less";

// Utility classes
@import "../libraries/bootstrap-3.1.1/less/utilities.less";
@import "../libraries/bootstrap-3.1.1/less/responsive-utilities.less";

font-family: sans-serif;
font-size: 12px;

.grid {
  stroke-width: 0.5px;
  stroke: steelblue;
  fill: none;
  opacity: 0.5;
  display: none;
}

.axis {
  stroke-width: 3px;
  stroke: black;
  fill: none;
}

.middle-axis {
    opacity:1;
    fill:#000000;
    stroke:#000000;
    stroke-width:2px;
    stroke-linecap:round;
    stroke-miterlimit:4;stroke-dasharray:2.00000001,6.00000003;stroke-dashoffset:0;
    stroke-color: #444;
}

g.item circle {
  opacity: 0.7;
  stroke: none;
}

g.item circle:hover {
  cursor: pointer;
  opacity: 1.0;
}

g.item circle.party.active, g.item cirlce.active {
    opacity: 1;
    z-index: 5000;
}

svg.pie {
    width: 100px;
    height: 200px;
}

text {
  font: 12px sans-serif;
}

#embiggen_container {
  border: 1px #CCC solid;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  max-height: 90%;
}

#overlay {
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
}

#close {
  right: 25px;
  top: 25px;
  position: fixed;
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  z-index: 6000;
}

#embiggen_container.embiggen {
	#close {
  		opacity: 1;
	}

  	#quadcontainer {
  		max-width: 820px;
      background-color: #FFF;
      border: 1px #444 solid;
      padding: 20px;
      width: 640px;
      height: 450px;
  	}
}

.animate {
  transition: width 1s, height 1s, transform 1s, position 1s, margin 1s;
  -webkit-transition: width 1s, height 1s, -webkit-transform 1s, position 1s, margin 1s;
}

#infobox {
  display: none;
}

#embiggen_container.embiggen #infobox {
  display: block;
}

#party_info {
    display: none;
    max-width: 400px;
}

// #howto {
//   max-width: 400px;
// }

.yaxis path, .yaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.yaxis text, .xaxis text {
    font-family: sans-serif;
    font-size: 11pt;
}

.xaxis path, .xaxis line {
    fill: none;
    stroke-width:2;
    stroke: black;
    shape-rendering: crispEdges;
}

.text-label {
  // font-weight: bold;
  font-size: 8pt;
}

.text-label:hover {
  cursor: pointer;
}


.svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	// padding-bottom: 100%;
	vertical-align: middle;
	overflow: hidden;
}

.svg-content {
display: inline-block;
// position: absolute;
top: 0;
left: 0;
}
.embiggen {
	#vizcontainer {
		// max-width: 620px;
		// float: left;
	}

	#infobox {
		// float: left;
		// left: 650px;
		// position: absolute;
	}
}

.piped {
  li:before {
    content: "| ";
  }
  li:first-child:before {
    content: "";
  }
}

svg { max-height: 100%; }

#code4sa_logo {
  border: 1px #444 solid;
  float: right;
}

.label {
  font-size:100%;
}

}