.grid {
  stroke-width: 0.5px;
  stroke: steelblue;
  fill: none;
  opacity: 0.5;
}

.axis {
  stroke-width: 3px;
  stroke: black;
  fill: none;
}

.middle-axis {
    opacity:0.61728396;
    fill:#000000;
    stroke:#000000;
    stroke-width:1px;
    stroke-linecap:round
    stroke-miterlimit:4;stroke-dasharray:2.00000001,6.00000003;stroke-dashoffset:0
}

g.item circle {
  fill: red;
  opacity: 0.65;
  stroke: none;
}

g.item circle:hover {
  cursor: pointer;
  opacity: 1.0;
}

g.item circle.party.clicked {
    fill: #cc0000;
}

svg.pie {
    width: 100px;
    height: 200px;
}

text {
  font: 12px sans-serif;
}

#quad {
}

#quadcontainer {
}
#party_info {
    display: none;
}

.yaxis path, .yaxis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.yaxis text, .xaxis text {
    font-family: sans-serif;
    font-size: 11px;
}

.xaxis path, .xaxis line {
    fill: none;
    stroke-width:2;
    stroke: black;
    shape-rendering: crispEdges;
}

.text-label:hover {
  cursor: pointer;
}

text.pie.label, text.pie.legend {
    font-family: sans-serif;
    font-size: 12px;
}
